.links {
  ul {
    margin: -0.5em;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    li {
      margin: .5em;
      float: left;

      span {
        display: none;
      }
    }
  }
}
